<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jsl.backup_to_google_drive</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/jsl/cronjobs/backup_to_google_drive.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>20</integer>
    <key>Minute</key>
    <integer>5</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/tmp/backup-to_google-drive-launchd.out</string>

  <key>StandardErrorPath</key>
  <string>/tmp/backup-to-google-drive-launchd.err</string>

  <key>WorkingDirectory</key>
  <string>/Users/jsl</string>
</dict>
</plist>
